<h1>{{ title }}</h1>

<button class="btn btn-primary" (click)="createObservable1()">
  Créer un observable #1
</button>
<button class="btn btn-primary" (click)="createObservable2()">
  Créer un observable #2
</button>

<!-- #nom: attr. NG => référence de modèle NG -->
<ul #formations></ul>

<button class="btn btn-outline-success" id="jaime" #jaime>
  <i class="fa fa-thumbs-up fa-2x"></i>
</button>

<button class="btn btn-outline-danger" id="jaimePas" #jaimePas>
  <i class="fa fa-thumbs-down fa-2x"></i>
</button>

<p class="alert alert-success" id="nombreJaime" #nombreJaime></p>
<p class="alert alert-danger" id="nombreJaimePas" #nombreJaimePas></p>

<hr />

<div>
  <strong> Compteur : {{ tempsSecondes }} cycles écoulés !</strong>
</div>

<button class="btn btn-outline-warning" (click)="toggleStartStop()">
  <i class="fa fa-stop-circle fa-2x"></i>
</button>
