<nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top primary">
  <img width="70" alt="Angular Logo" src="./assets/images/angular.png" />

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#menu"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="menu">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="accueil"
          ><i class="fa fa-home"></i> Accueil</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="les-films"
          ><i class="fa fa-list-alt"></i> Les Films</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="programmation-rxjs"
          ><i class="fa fa-circle"></i> Programmation RxJS</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="liste-des-frameworks"
          ><i class="fa fa-road"></i> Listes des frameworks</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="form-group"
          ><i class="fa fa-group"></i> Form group</a
        >
      </li>
    </ul>
  </div>
</nav>
