<h3>Liste des frameworks</h3>
<p>Choisissez votre framework préféré:</p>

<ul>
  <li>
    <a
      class="nav-link"
      [routerLink]="[{ outlets: { outletFW: 'angular-11' } }]"
      routerLinkActive="lien-actif"
      >Angular</a
    >
  </li>
  <li>
    <a
      class="nav-link"
      [routerLink]="[{ outlets: { outletFW: 'react' } }]"
      routerLinkActive="lien-actif"
      >React</a
    >
  </li>
  <li>
    <a
      class="nav-link"
      [routerLink]="[{ outlets: { outletFW: 'vue' } }]"
      routerLinkActive="lien-actif"
      >Vue</a
    >
  </li>
</ul>

<p>Router Outlet Frameworks</p>
<router-outlet name="outletFW"></router-outlet>
